#campo{
    width: 95%;
    height: 150%;
    left: 500px;
    display: inline-block;
    border-style: solid;
    border-color: rgb(81, 20, 138);
    background-color: paleturquoise;
}
button{
    width: 100px;
    height: 40px;
    color: blue;
    background-color: rgb(102, 199, 238);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    width: 300px;
    height: 20px;
    border-radius: 10px;

}

